<head>
<meta charset='utf-8'>
</head>
<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
<body>

<section style='margin: 0;
		padding: 0;
		margin-left: auto;
		margin-right: auto;
		width: 800px;
		font-family:'Roboto', sans-serif;'>
	
	<div style='margin: 0;
		padding: 0;
		height: auto;
		padding-top: 15px;
		padding-bottom: 15px;
		width: 100%;
		background-color: #0685bf;'>
		<figure style='margin: 0;
		padding: 0;
		display: inline-block;
		width: 250px;
		height: 150px;'>
			<img style='margin-top: 31px;margin-left: 30px; width: 250px;' alt='Sonda it logo' src='!'>
		</figure>
		<p style='margin: 0;
		padding: 0;
		display: inline-block;
		float: right;
		width: auto;
		height: 150px;
		line-height: 150px;
		margin-right: 50px;
		font-size: 21px;
		color: #fff;'>Controle de Treinamento</p>
	</div>

	<div style='margin: 0;
		padding: 0;
		width: 100%;
		height: 100px;
		background-color: #fafafa;'>
		<p style='margin: 0;
		padding: 0;
		margin-left: 30px;
		height: 100px;
		line-height: 100px;
		font-size: 20px'>Reciclagem</p>
	</div>

	<div id='bxInfo' style='margin: 0;
		padding: 0;
		background-color: transparent;
		height: auto;
		width: 100%;
		padding-bottom: 30px;'>
		<p style='margin: 0;
		padding: 0;
		margin-left: 30px;
		margin-right: 30px;
		padding-top: 30px;
		font-size: 20px;
		font-weight: bold;'>Caro colaborador, !</p>
		<p style='margin: 0;
		padding: 0;
		margin-left: 30px;
		margin-right: 30px;
		padding-top: 30px;
		font-size: 16px;'>Você deve realizar a reciclagem do programa: ! nos treinamentos: ! </p>
		<p style='margin: 0;
		padding: 0;
		margin-left: 30px;
		margin-right: 30px;
		padding-top: 30px;
		font-size: 16px;'>Atenciosamente</p>
	</div>

</section>
</body>